@charset "UTF-8";
/* Variables */
@font-face {
  font-family: "Akira";
  src: url(https://dl.dropbox.com//s/lijlld51wdfm4s4/Akira%20Expanded%20Demo.otf?dl=0) format("opentype");
}
/* Mixings */
/* Globals */
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url(../imagenes/Background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "K2D", sans-serif;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 10px !important;
  background: #723844 !important;
}

::-webkit-scrollbar-thumb {
  background: #bf8275 !important;
}

*,
::after,
::before {
  box-sizing: unset !important;
}

a {
  text-decoration: none !important;
  color: #b9a3b0;
}

p {
  color: #bababa;
  font-size: 1.4rem;
  font-family: "K2D", sans-serif;
  margin: 0;
  text-align: justify;
}

strong {
  font-weight: 600;
  color: #644666;
}

i {
  font-weight: 100;
  font-style: italic;
}

.columnas {
  display: flex;
  flex-direction: column;
}

.filas {
  display: flex;
  flex-direction: row;
}

h2 {
  font-family: "Akira";
  margin: 0;
}

h3 {
  margin: 0;
  font-family: "Dancing Script", cursive;
}

h5 {
  font-family: "Nanum Pen Script", cursive;
  margin: 0;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

footer {
  background-color: #723844;
  width: -moz-available;
  width: -webkit-fill-available;
  height: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #b9a3b0;
  font-size: 1.4rem;
  line-height: 10px;
}

footer a {
  color: #d9a282;
  font-weight: bold;
}

@media (max-width: 1000px) or (max-height: 900px) {
  body {
    overflow-x: hidden;
    background-color: #f2d7b6;
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /* Footer */
  footer {
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color: #f2d7b6;
    color: #644666;
  }
  footer a {
    color: #171717;
  }
  .footer_Chico {
    justify-content: space-between;
    gap: 1rem;
    padding-right: 0.5rem;
    width: -moz-available;
    width: -webkit-fill-available;
  }
}
@media (max-width: 530px) {
  header h2 {
    margin: 1rem auto 0 7rem;
  }
}
/* Index */
#indexContenedor {
  width: 760px;
  height: 460px;
  margin: auto;
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #723844;
  border-radius: 2.5rem;
  padding: 2rem;
  background-image: url(../imagenes/Background\ Segundo.jpg);
  background-size: contain;
}

header {
  width: 500px;
  display: flex;
  flex-direction: column;
}
header img {
  width: 450px;
  height: 320px;
  border-radius: 2rem;
  border-bottom-right-radius: 50%;
}
header h2 {
  padding-left: 2rem;
  font-size: 2.6rem;
  line-height: 3.5rem;
  font-weight: 300;
  color: #d9a282;
  width: min-content;
}

#navbar {
  position: absolute;
  margin-top: 50rem;
}
#navbar ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#navbar li {
  text-transform: uppercase;
  background-color: #723844;
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 2.5rem;
  width: 13rem;
  text-align: center;
  font-weight: bold;
  background-position: center;
  background-size: contain;
}
#navbar a {
  transition: 0.3s;
}
#navbar a:hover {
  transition: 0.3s;
  color: #f2d7b6;
}

main {
  width: fit-content;
}

#informacionPrincipal {
  width: 35rem;
  background-image: url(../imagenes/Of\ 2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  height: 25rem;
  transform: rotate(13deg);
  margin: -6rem 0 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
#informacionPrincipal h5 {
  font-size: 2.8rem;
  color: #171717;
  width: 15rem;
  align-self: flex-start;
  margin-top: 5rem;
  line-height: 2rem;
  margin-bottom: 2.5rem;
  margin-left: 5rem;
  opacity: 0.8;
}
#informacionPrincipal span {
  font-size: 2.4rem;
  line-height: 1.6rem;
  transform: rotate(8deg);
  font-weight: 500;
  font-family: "Nanum Pen Script", cursive;
  opacity: 0.8;
}
#informacionPrincipal strong {
  font-weight: bolder;
}

#datosExtra {
  position: absolute;
  width: 300px;
  height: 380px;
  margin-top: 9rem;
  margin-left: 6rem;
}

.datosExtra-Info {
  width: 280px;
  height: 180px;
  padding: 10px;
  background-color: #f2d7b6;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.datosExtra-Info h3 {
  font-size: 2.5rem;
  font-style: italic;
  color: #644666;
}
.datosExtra-Info p {
  width: 220px;
  height: 160px;
  overflow: hidden;
  line-height: 1.6rem;
  text-align: center;
  color: #171717;
  font-size: 12px;
}

.datosExtra-logotipo {
  width: 300px;
  height: 180px;
  background-color: #d9a282;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../imagenes/Textura\ tela.png);
  background-size: contain;
  background-position: center;
}
.datosExtra-logotipo img {
  border-radius: 100%;
  width: 160px;
  height: 160px;
}

#reproductor {
  position: absolute;
  width: 200px;
  height: 250px;
  margin-top: 20rem;
  margin-left: -200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#reproductor img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 10px solid #bf8275;
  filter: grayscale(80%);
  transition: 0.3s;
}
#reproductor img:hover {
  transition: 0.3s;
  filter: none;
}
#reproductor h2 {
  margin-top: 5px;
  font-size: 1.3rem;
  color: #171717;
  letter-spacing: 0.2rem;
}

/* Index responsive*/
@media (max-width: 1000px) or (max-height: 900px) {
  #indexContenedor {
    background-color: #723844;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    padding: 0;
    border-radius: 0rem;
    background-image: none;
    margin: 0 auto 1rem auto;
  }
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  header img {
    display: none;
  }
  header h2 {
    padding: 2rem;
    font-size: 2.4rem;
    margin: 1rem auto 0 6rem;
    width: fit-content;
    text-align: center;
  }
  #navbar {
    position: unset;
    margin-top: 1rem;
  }
  #navbar ul {
    flex-direction: row;
    padding: 0;
    justify-content: center;
  }
  #navbar li {
    background-color: transparent;
    padding: 0.7rem;
    font-size: 1.2rem;
    border-radius: 0;
    width: 12rem;
  }
  #navbar a {
    transition: 0.3s;
  }
  nav ul li a:hover {
    transition: 0.3s;
    color: #f2d7b6;
  }
  main {
    width: 100%;
  }
  #informacionPrincipal {
    width: 400px;
    background-size: unset;
    height: 29rem;
    transform: none;
    margin: 0 auto 0 auto;
  }
  #informacionPrincipal h5 {
    margin-bottom: 3rem;
    margin-top: 7rem;
  }
  #datosExtra {
    position: unset;
    width: 100%;
    height: fit-content;
    margin: 2rem auto 0 auto;
  }
  .datosExtra-Info {
    width: 100%;
    height: 16rem;
  }
  .datosExtra-Info p {
    width: 85%;
    height: 15rem;
    font-size: 14px;
  }
  .datosExtra-logotipo {
    width: 70px;
    height: 70px;
    background-color: transparent;
    border-radius: 0;
    background-image: none;
    position: absolute;
    top: 2rem;
    left: 0.5rem;
  }
  .datosExtra-logotipo img {
    width: 70px;
    height: 70px;
  }
  #reproductor {
    display: none;
  }
}
/* Sobre nosotros y contacto */
#nosotros-Contenedor,
#contacto-Contenedor {
  width: 760px;
  height: 480px;
  margin: auto;
  margin-top: 10%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #723844;
  border-radius: 2.5rem;
  overflow: hidden;
  padding: 2rem;
}

#nosotros-Header,
#contacto-Header {
  width: fit-content;
}

#navbar_Extended {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#navbar_Extended img {
  width: 20rem;
  height: 30.5rem;
  border-radius: 0;
}
#navbar_Extended ul {
  list-style-type: none;
  padding: 0;
  width: fit-content;
  gap: 0.5rem;
  align-items: center;
}
#navbar_Extended li {
  border-radius: 2.5rem;
  width: 13rem;
  padding: 0.5rem;
  background-color: #bf8275;
  text-align: center;
}
#navbar_Extended a {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: #171717;
  font-weight: bold;
  transition: 0.3s;
}
#navbar_Extended a:hover {
  transition: 0.3s;
  color: #f2d7b6;
}
#navbar_Extended li:first-child {
  font-family: "Akira";
  background-color: #723844;
  border-radius: 0;
  font-size: 1.3rem;
  width: 14rem;
  text-align: center;
  color: #bf8275;
}

#navbar_Extended-Left ul {
  list-style-type: none;
  padding: 0;
  width: fit-content;
  gap: 0.5rem;
  align-items: center;
}
#navbar_Extended-Left li {
  border-radius: 2.5rem;
  width: 13rem;
  padding: 0.5rem;
  background-color: #bf8275;
  text-align: center;
}
#navbar_Extended-Left a {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: #171717;
  font-weight: bold;
  transition: 0.3s;
}
#navbar_Extended-Left a:hover {
  transition: 0.3s;
  color: #f2d7b6;
}
#navbar_Extended-Left li:first-child {
  font-family: "Akira";
  background-color: #723844;
  border-radius: 0;
  font-size: 1.3rem;
  width: 14rem;
  text-align: center;
  color: #bf8275;
}

#nosotros-Info,
#contacto-Info {
  width: 55rem;
  height: 46rem;
}
#nosotros-Info h2,
#contacto-Info h2 {
  margin-bottom: 2rem;
  margin-top: auto;
  padding-left: 1.5rem;
  font-size: 2.3rem;
  color: #d9a282;
}
#nosotros-Info p,
#contacto-Info p {
  margin-top: 4.5rem;
}

.nosotros-Logotipo,
.contacto-Logotipo {
  position: absolute;
  margin-left: 34rem;
  margin-top: -15rem;
  width: 18rem;
  height: 18rem;
}

.nosotros-Local {
  width: 55rem;
  height: 16.1rem;
  margin-top: 3.8rem;
  border-bottom-left-radius: 2rem;
  opacity: 0.6;
}

.contacto-forma {
  background-color: #644666;
  width: 51rem;
  height: fit-content;
  margin-top: 3rem;
  padding: 2rem;
}
.contacto-forma form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: start;
  align-items: center;
}
.contacto-forma label {
  font-family: "K2D", sans-serif;
  color: #b9a3b0;
  width: 100%;
  font-size: 11px;
}
.contacto-forma input {
  width: 100%;
}
.contacto-forma label:nth-child(5) {
  margin-top: 1rem;
}
.contacto-forma input:nth-child(6) {
  height: 10rem;
}
.contacto-forma input:last-child {
  width: unset;
}

.contacto-Contacto {
  display: flex;
  flex-direction: row;
  width: 55rem;
  margin-top: 1rem;
  height: 3rem;
  line-height: 3rem;
  justify-content: start;
  gap: 2rem;
  font-size: 1.4rem;
  color: #d9a282;
}
.contacto-Contacto i {
  margin-right: 5px;
  color: #b9a3b0;
}

.contacto-redesSociales {
  width: 55rem;
  height: 7rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
  font-size: 4.5rem;
}
.contacto-redesSociales a {
  transition: 0.3s;
}
.contacto-redesSociales a:hover {
  color: #d9a282;
  transition: 0.3s;
}

/* Pagina sobre nosotros y contacto responsive */
@media (max-width: 1000px) or (max-height: 900px) {
  #nosotros-Contenedor,
  #contacto-Contenedor {
    width: 100%;
    height: fit-content;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.5rem;
    border-radius: 0;
    overflow: hidden;
    padding: 0;
  }
  #nosotros-Header,
  #contacto-Header {
    width: 100%;
  }
  #navbar_Extended {
    width: 100%;
  }
  #navbar_Extended img {
    width: 20rem;
    height: 30.5rem;
    border-radius: 0;
  }
  #navbar_Extended ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
  }
  #navbar_Extended li:first-child {
    width: 100%;
  }
  #nosotros-Info,
  #contacto-Info {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #nosotros-Info h2,
  #contacto-Info h2 {
    margin: 0 auto 0 auto;
    width: 80%;
    padding: 0;
    font-size: 2.2rem;
    color: #f2d7b6;
  }
  #nosotros-Info p,
  #contacto-Info p {
    margin: 1.5rem auto 1rem auto;
    font-size: 1.6rem;
    height: fit-content;
    width: 80%;
    padding: 0;
  }
  .nosotros-Logotipo,
  .contacto-Logotipo {
    display: none;
  }
  .nosotros-Local {
    width: unset;
    min-width: 400px;
    height: 16.1rem;
    margin: 1rem auto 1.5rem auto;
    border-radius: 0;
  }
  .contacto-forma {
    width: 90%;
    padding: 1rem;
    height: 27rem;
    margin: 1.5rem auto 0 auto;
  }
  .contacto-Contacto {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    padding: 0;
    justify-content: center;
  }
  .contacto-redesSociales {
    width: 100%;
    justify-content: center;
  }
}
/* Fan-page y Tienda */
#body_tienda {
  height: fit-content;
}

.tiendaFanPage_Header {
  height: inherit;
  position: static;
  width: fit-content;
  background-color: #723844;
}

#navbar_Extended-Left {
  height: fit-content;
  min-height: 50rem;
  width: fit-content;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
}
#navbar_Extended-Left img {
  width: 15rem;
  height: 23rem;
  border-radius: 0;
}
#navbar_Extended-Left ul {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

.navbar-carrito {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  border-top: 0.5rem solid #bf8275;
  padding-top: 1rem;
  width: 15rem;
  max-height: 35rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.navbar-carrito p {
  font-family: "Akira";
  color: #171717;
  font-size: 13px;
}

.carrito-contenido ul li {
  font-family: "K2D", sans-serif !important;
  background-color: #171717 !important;
  border-radius: unset !important;
  font-size: 1.3rem !important;
  width: 14rem !important;
  text-align: center !important;
  color: #bababa !important;
  height: fit-content !important;
}
.carrito-contenido ul li p {
  margin: unset !important;
  font-family: "K2D", sans-serif !important;
  text-align: center;
  color: #f2d7b6 !important;
}

#tiendaFanPage_Fila {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: -moz-available;
  width: -webkit-fill-available;
}

.tiendaPage_Main {
  width: inherit;
}

.tienda_contenedor {
  width: -moz-available;
  width: -webkit-fill-available;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tienda_tools {
  width: inherit;
  height: 3.5rem;
  padding: 0.5rem;
  background-color: #bf8275;
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
.tienda_tools img {
  width: 4rem;
  height: 4rem;
}
.tienda_tools i {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #171717;
  line-height: 3.5rem;
  text-align: center;
  font-size: 1.8rem;
  cursor: pointer;
  color: #bf8275;
}
.tienda_tools a {
  transition: 0.3s;
  color: #bf8275;
}
.tienda_tools a:hover {
  transition: 0.3s;
  color: #f2d7b6;
}

.tienda_itemsContenedor {
  background-color: #644666;
  padding: 1rem 1.8rem;
  margin: 20rem 1rem 3rem 1rem;
  height: fit-content;
  width: 75rem;
}

.tienda_articulo {
  display: flex;
  flex-direction: column;
  background-color: #bababa;
}
.tienda_articulo img {
  min-width: 24.1rem;
  min-height: 24.1rem;
}

.tienda_articulo_titulo {
  font-family: "Dancing Script", cursive;
  color: #644666;
  font-size: 2.2rem;
}

.tienda_articulo_descripcion {
  color: #171717;
  width: -moz-available;
  width: -webkit-fill-available;
  height: 6rem;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: right;
  margin-right: 1rem;
  margin-right: 0.5rem;
  padding-right: 0.5rem;
}

.tienda_articulo_boton {
  width: 4rem;
  height: 6rem;
  line-height: 6rem;
  text-align: center;
  font-size: 2.5rem;
  background-color: #f2d7b6;
  color: #644666;
  transition: 0.3s;
  cursor: pointer;
}

.tienda_articulo_boton:hover {
  color: #171717;
  transition: 0.3s;
}

.footer_Chico {
  justify-content: end;
  gap: 25%;
  padding-right: 10rem;
}

.fanPage_Main {
  width: -moz-available;
  width: -webkit-fill-available;
  height: inherit;
}

.fanPage_Galeria #carouselExampleCaptions,
.fanPage_Galeria .carousel-inner {
  height: 40rem;
}

.fanPage_Galeria .carousel-item img {
  height: 400px;
}

.carousel-item {
  filter: grayscale(50%) !important;
}

.fanPage_Contenedor {
  background-color: #644666;
  height: fit-content;
  padding: 1rem;
  width: -moz-available;
  width: -webkit-fill-available;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "titulo galeria" "intro galeria" "slider galeria" "slider infoExtra";
  column-gap: 1rem;
  row-gap: 0.5rem;
  margin-top: -1rem;
}

.fanPage_Contenedor_gridItem-titulo {
  grid-area: titulo;
  height: 5rem;
  line-height: 5rem;
  color: #bf8275;
  font-family: "Akira";
  font-size: 2rem;
  text-align: center;
}

.fanPage_Contenedor_gridItem-intro {
  grid-area: intro;
  text-align: justify;
  color: #171717;
  font-size: 1.2rem;
  background-color: #b9a3b0;
  padding: 1rem;
}

.fanPage_Contenedor_gridItem-slider {
  grid-area: slider;
}

.fanPage_Contenedor_gridItem-infoExtra {
  grid-area: infoExtra;
}

.accordion-button {
  width: -moz-available !important;
  width: -webkit-fill-available !important;
}

.fanPage_Contenedor_gridItem-galeria {
  grid-area: galeria;
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  height: 100%;
  max-height: 90rem;
}

.dateDiv {
  font-size: 1.6rem;
  font-family: "Akira";
  margin-right: auto;
  margin-left: 1rem;
}

.ocultaCarro {
  display: none;
}

@media (max-width: 1000px) or (max-height: 900px) {
  /* Tienda  y Fanpage responsive */
  #tiendaFanPage_Fila {
    flex-direction: column;
  }
  .tiendaFanPage_Header {
    min-height: 4.5rem;
    width: -moz-available;
    width: -webkit-fill-available;
    margin-bottom: 0;
  }
  #navbar_Extended-Left {
    height: fit-content;
    min-height: unset;
    width: -moz-available;
    width: -webkit-fill-available;
    flex-direction: column;
    justify-content: center;
  }
  #navbar_Extended-Left img {
    display: none;
  }
  #navbar_Extended-Left ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .navbar-carrito {
    flex-direction: row;
    justify-content: center;
    align-items: unset;
    width: fit-content;
    max-height: 10rem;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
  }
  .navbar-carrito p {
    margin-right: 1rem;
    width: 16rem;
    margin: unset !important;
  }
  .carrito-contenido {
    width: 100%;
  }
  .carrito-contenido ul {
    display: flex;
    flex-direction: column;
    width: auto !important;
  }
  .carrito-contenido ul li {
    font-size: 1.2rem !important;
    width: 100% !important;
    text-align: center !important;
    color: #bababa !important;
    height: 2rem !important;
    display: flex;
    justify-content: space-between;
  }
  .carrito-contenido ul li p {
    width: fit-content !important;
    padding-right: 0.5rem;
  }
  .tienda_itemsContenedor {
    margin: 0;
    height: fit-content;
    width: -moz-available;
    width: -webkit-fill-available;
  }
  .fanPage_Contenedor {
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "intro" "slider" "infoExtra" "galeria";
  }
}
/* Botón compra */
.botonCompra {
  position: absolute;
  top: 20rem;
  left: 50%;
}

/* Error pages */
#notFound {
  width: 100%;
  height: 100%;
}
#notFound .notFound-contenedor {
  width: 60rem;
  height: fit-content;
  margin: 5% auto 0 auto;
  background-color: #644666;
  padding: 0rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 2.5rem;
}
#notFound .notFound-contenedor h1 {
  color: #bf8275;
  font-size: 20px;
  text-align: center;
}
#notFound .notFound-contenedor p strong a {
  color: #f2d7b6;
}

@media (max-width: 1000px) or (max-height: 900px) {
  #notFound .notFound-contenedor p strong a {
    color: #bf8275;
  }
}
@media (max-width: 700px) {
  #notFound .notFound-contenedor {
    width: 70%;
  }
}

/*# sourceMappingURL=style.css.map */
