/* Globals */

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url(../imagenes/Background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $fCuerpo;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

*,
::after,
::before {
  box-sizing: unset !important;
}

a {
  text-decoration: none !important;
  color: $cLinks;
}

p {
  color: $cTexto;
  font-size: 1.4rem;
  font-family: $fCuerpo;
  margin: 0;
  text-align: justify;
}

strong {
  font-weight: 600;
  color: $cBold;
}

i {
  font-weight: 100;
  font-style: italic;
}

.columnas {
  display: flex;
  flex-direction: column;
}

.filas {
  display: flex;
  flex-direction: row;
}

h2 {
  font-family: $fTituloP;
  margin: 0;
}

h3 {
  margin: 0;
  font-family: $fTituloE;
}

h5 {
  font-family: $fEspecial;
  margin: 0;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

footer {
  background-color: $cTerciario;
  width: -moz-available;
  width: -webkit-fill-available;
  height: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: $cLinks;
  font-size: 1.4rem;
  line-height: 10px;
}

footer a {
  color: $cSecundario;
  font-weight: bold;
}


@media (max-width: 1000px) or (max-height: 900px) {
     body {
    overflow-x: hidden;
    background-color: $cItalic;
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* Footer */

  footer {
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color: $cItalic;
    color: $cBold;

    a {
    color: $cTextoO;
  }
} 

  .footer_Chico {
    justify-content: space-between;
    gap: 1rem;
    padding-right: 0.5rem;
    width: -moz-available;
    width: -webkit-fill-available;
  }
}

@media (max-width: 530px) {
  header {
    h2 {
    margin: 1rem auto 0 7rem;
    }
  }
}
