/* Variables */

$cAcento: #bf8275;
$cSecundario: #d9a282;
$cTerciario: #723844;
$cLinks: #b9a3b0;
$cBold: #644666;
$cItalic: #f2d7b6;
$cTexto: #bababa;
$cTextoO: #171717;
$fTituloP: "Akira";
$fTituloE: "Dancing Script", cursive;
$fCuerpo: "K2D", sans-serif;
$fEspecial: "Nanum Pen Script", cursive;

@font-face {
  font-family: "Akira";
  src: url(https://dl.dropbox.com//s/lijlld51wdfm4s4/Akira%20Expanded%20Demo.otf?dl=0)
    format("opentype");
}